/****************************
Mateo Rico Iglesias - UO277172
Descripción de los estilos
****************************/
/* Especificidad 001 */
header {
  background-color: rgb(138, 189, 0);
  color: black;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

/* Especificidad 001 */
t1 {
  font-weight: bold;
  font-size: 2em;
}

/* Especificidad 001 */
t2 {
  font-weight: bold;
  font-size: 1.5em;
}

/* Especificidad 001 */
t3 {
  font-weight: bold;
  font-size: 1em;
}

/* Especificidad 002 */
header a {
  color: black;
}

/* Especificidad 001 */
body {
  background-color: white;
  color: black;
}

/* Especificidad 001 */
p {
  width: 100%;
}

/* Especificidad 002 */
body main {
  padding: 1em;
  width: 95%;
  text-align: justify;
}

/* Especificidad 002 */
body section {
  padding: 1em;
}

/* Especificidad 001 */
a {
  color: black;
}

/* Especificidad 001 */
a:hover {
  color: rgb(138, 189, 0);
  background-color: black;
}

/* Especificidad 003 */
body main section table {
  background-color: rgb(138, 189, 0);
  color: black;
}

/* Especificidad 003 */
body main section table caption {
  color: black;
}

/* Especificidad 003 */
body main section table,
body main section th,
body main section td {
  border: 0.1em solid;
  border-color: black;
}

/* Especificidad 001 */
body footer {
  color: black;
  border: 0.3em solid;
  border-color: rgb(138, 189, 0);
  padding: 1em;
}
