body {
    font-family: 'Lato', sans-serif;
    background-color: #00000063;
}

body,html {
    height:100%;
}

t1{
    padding:0.3em;
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

.container {
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin-right: auto;
        margin-left: auto;
        max-width: auto;
        height:100%;
}
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row .btn {
        width: 18.2%;
        text-align: center;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d6d6d6;
        font-size: 1.5em;
        margin: 0.05em;;
        cursor:pointer;
        transition: 0.2s ease-in all;
        border-radius: 0.5em;
        border: 0.1em solid black;
    }

    .row .btn:hover {
        background: #9a9a9a;
    }

    .row .btn.zero {
        width:57.6%;
    }

    .row .btn.operator {
        background: rgb(255, 79, 79);
        color: #000000;
        border-radius: 2em;
    }

.row .btn.operator.active, .row .btn.operator:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 177, 177);
}

.calculator {
    max-width: auto;
    height: auto;
    background-image: linear-gradient(#640000, rgb(255, 190, 190));
    -moz-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.75);
    border-radius: 0.3em;
    border: black solid 0.2em;
}

.calculator .display {
    width: 100%;
    background-image: linear-gradient(#640000, #802e2e);
    height: 5em;
    border-radius: 1em;
}

.calculator .display input {
    text-align: right;
    height: 100%;
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    color:black;
    border-radius: 0.9em;
}

.align-center {
    align-items: center;
    justify-content: center;
    vertical-align: middle!important;
    height: 100%;
}