body {
    font-family: 'Lato', sans-serif;
    background-color: #00000063;
    width:15em;
    margin:auto;
}

section{
    display:grid;
}

textarea{
    resize: none;
    height: 8em;
    font-size:2em;
    font-weight: bold;
}

body,html {
    height:100%;
}

t1{
    padding:0.3em;
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width:15em;
    margin:auto;
}

button {
    width: 3em;
    text-align: center;
    height: 3em;
    background: #d6d6d6;
    font-size: 1.5em;
    margin: 0.05em;
    cursor:pointer;
    transition: 0.2s ease-in all;
    border-radius: 0.5em;
    border: 0.1em solid black;
}
button:hover{
    background: #9a9a9a;
}

button:nth-child(33){
    background: #683d3d;
    color: #000000;
    border-radius: 2em;
    grid-column: span 2;
    grid-column-start: span 2;
    grid-column-end: auto;
    width:98%;
}
button:nth-child(33):hover{
    color: rgb(0, 0, 0);
    background: #816666;
}

body section t1{
    padding:0.35em;
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
body section {
    padding: 1em;
    width:23em;
    background-image: linear-gradient(#8f3589, #865f84); 
}
body section input{
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    width:92%;
    border-radius: 2em;
    height: fit-content;
}